@media screen and (max-width: 600px) {
    .filter{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-top: 10%;
    
        button{
            width: 100%;
            display: flex;
            padding: 5px;
    
            span{
                width: 100%;
                position: relative;
                text-align: left;
            }
    
            .filterIcon{
                width: 100%;
                position: relative;
                text-align: right;
                justify-content: right;
                align-items: right;
            }
        }
    
        h2{
            width: 100%;
            display: block;
            text-align: left;
        }
    }
}