form{
    width: 85%;
}

form fieldset{
    border: none;
}

form input{
    width: 100%;
}

form button{
    display: block;
    width: 100%;
    margin-bottom: 15px;
    background-color: #0ACF83;
    color: white;
}

form input, form button{
    border-radius: 5px;
    border: none;
    height: 45px;
}

form input[type="email"]{
    margin-bottom: 15px;
}

form a:link, form a:active, form a:visited{
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 5px 0px 30px 0px;
}