@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.container{
    width: 1200px;
}

header a:link, header a:active, header a:visited{
    color: ;
}

header section:nth-child div{
    flex-direction: column;
}

header input[type="email"]{
    width: 180px;
}

header section:nth-child(1) img{
    width: 36px;
}

header section:nth-child(2){
    background-color: aliceblue;
}